.password-user-name-container{
    width: 50%;
    height: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

.user-name{
    color: white;
    font-size: 14px;
    font-family: Consolas, monospace;
}