.password-all-info-container{
    width: 350px;
    height: 550px;
}

.info-header{
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-page-icon{
    width: 32px;
    height: 32px;
    transition: border-right-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px;
}

.info-page-icon:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.logo{
    width: 32px;
    height: 32px;
}

.password-logo-container{
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.main-all-info-container{
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}