.password-container{
    width: 100%;
    height: 65px;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    margin-top: 3px;
}

.password-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.password-container:hover{
    background-color: rgba(0, 0, 0, 0.1);
}