.password-logo-container{
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}